@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@500&display=swap');
@font-face{
	src: url('../font/Romans Story.otf');
	font-family: Romans;
}
/*
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/
@font-face{
	src: url('../font/Romans Story.ttf');
	font-family: Romans Story;
}
@font-face{
	src: url('../font/BROLIMO-Black.otf');
	font-family: Brolimo;
}
/*-----------PALLET MÀU-----------*/
/*
MÀU NAV : #29331F
MÀU BUTTOB ON TOP: #495237
MÀU CONTAINER: #12150e
CHỮ MÀU: wheat
màu button :background-color: #886639;
*/
*{
	margin: 0;
	padding: 0;
	
}
html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}
/*-----------SCROLL-------------*/
::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
}
/*
::-webkit-scrollbar-button {
    background: red;
}
*/
::-webkit-scrollbar-track-piece {
    background: wheat;
}
::-webkit-scrollbar-thumb {
    background: rgba(79,25,0,0.60);
	border-radius: 50px;
}
h2{
	color: wheat;
	font-family: Brolimo;
	text-transform: full-width;
	padding-top: 100px;
	padding-bottom: 20px;
}
h5,h1{
	font-family: Brolimo;
}
h6{
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	padding-top: 20px;
	padding-bottom: 20px;
}
p{
	color: wheat;
	font-family: 'Roboto', sans-serif;
}
.text h4{
	font-family: Brolimo;
	font-size: 1.8em;
}
h4,a,h3,h1,h5{
	color: wheat;
}
h4{
	font-family: Romans Story;
	text-transform: capitalize;
}
/*------------BUTTON ON TOP----------*/
#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
	border: 1px solid wheat;
	background-color: #495237;
}
#toTopBtn:hover{
	background-color: #495237;
	color: wheat;
	border: none;
}
.js .cd-top--fade-out {
    opacity: .5
}
.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}
.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}
.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) wheat no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8);
	border: 1px solid wheat;
	outline: none;
	background-color: transparent;
	color: black;
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 50%;
}
/*------------NAVBAR----------*/
#navbar{
	border-bottom: wheat solid 1px;
	z-index: 2;
}
.nav-link{
	font-family: Brolimo;
	text-transform: capitalize;
	color: wheat;
	font-size: 1.25em;
}
#navbar {
      position: fixed;
      top: 0;
      width: 100%;
      display: block;
      transition: top 0.3s;
    }
#navbar a {
	float: left;
	display: block;
}
.nav-link:visited{
	color: wheat !important;
	-webkit-color: wheat;
	-o-color: wheat;
	-ms-color: wheat;
	-moz-color: wheat;
}
.nav-link:hover{
	color: #886639 !important;
	-webkit-color: #886639;
	-o-color: #886639;
	-ms-color: #886639;
	-moz-color: #886639;
}
.nav-active{
	background-color: #29331F;
}
#about{
	padding-right: 60px;
}
#navbarDropdown{
	padding-left: 60px;
}
.d-inline-block{
	position: absolute;
    left: 49%;
    transform: translateX(-50%);
/*    optional offset from top*/
    top: 2%;
	background: wheat;
	padding: 5px;
	border-radius: 50%;
	}
.dropdown-menu {
	height: auto;
	margin-left: 45%!important;
	background-color: #29331F !important;
/*	border: none;*/
	border-bottom: wheat solid 1px !important;
}
.dropdown-item{
	margin: -2%;
	color: wheat;
	text-transform: capitalize;
	font-family: Brolimo;
	font-size: 1.25em;
}
.dropdown-item:hover{
	margin-left: 0.45%;
	background-color: #495237 !important;
	-webkit-background-color: #495237 !important;
	color: #886639 !important;
	transform: scale(1.1);
	transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-webkit-transition: scale(1.15) 3s;
	transition: scale(1.15) 3s;
}
.dropdown-item:visited{
	margin-left: 0.45%;
	color: wheat;
}
.dropdown-divider{
	width: 0;
}
/*-------------FORM----------------*/

#survey{
	text-align: center;
	background-color: #12150e;
	padding: 100px 100px;
}
#survey h1{
	text-transform: capitalize;
	padding: 10px;
	font-size: 3em;
	padding-top: 50px;
}
.infor{
	color: #29331F;
}
.infor h2{
	color: wheat;
/*	background-color: rgba(73,82,55,0.50);*/
	fon-size: 20px;
}
#survey .infor{
	display: flex;
	justify-content: space-around;
	margin: 20px 10px;
}
#survey form{
	grid-column: 1;
	grid-row: 1;
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	background-color: rgba(73,82,55,0.80);
	border-radius: 30px;
}
#survey table{
	width: 60%;
}
.survey_map_text td{
	padding-bottom: 0px;
}
#survey input{
	width: 90%;
	color: wheat;
	border: none;
	border-bottom: 1px solid wheat;
	background-color: transparent;
/*	background-color: rgba(73,82,55,0.90);*/
	padding-bottom: 15px;
}
#survey textarea{
	width: 95%;
	height: 50px;
	color: wheat;
	overflow: hidden;
	border: none;
	border-bottom: 1px solid wheat;
	background-color: transparent;
/*	background-color: rgba(73,82,55,0.90);*/
	padding-bottom: 50px;
}
#survey button{
	color: wheat;
	border: none;
	background: transparent;
	border: 1px solid wheat;
	border-radius: 10px;
	padding: 5px 15px;
	font-size: 15px;
	text-transform: uppercase;
}
#survey button:hover{
	background-color: #495237;
	color: wheat;
}
.fa-circle{
	color: rgba(81,51,33,1.00);
}
.fa-phone i, .fa-map-marker i, .fa-envelope i{
	color: wheat;
}
#map {
	grid-column: 3;
	grid-row: 1;
/*    width: 100%;*/
    -webkit-filter: grayscale(200%); /* Safari 6.0 - 9.0 */
    filter: grayscale(200%);
	filter: contrast(100%);
	 -webkit-filter: grayscale(200%);
}
#map iframe{
	width: 100%;
	height: 500px;
	grid-column: 3;
	grid-row: 1;
	border-radius: 30px;
}
.survey_map_text form{
	grid-column: 1;
	grid-row: 1;
}
.survey_map_text{
	display: grid;
	grid-template-columns: 45% 2% 53%;
	grid-template-rows: auto;
}

/*-------------FOOTER----------------*/
footer{
	width: 101%;
	padding: 30px 0;
	background-color: #29331F;
}
#footer p, .text-center i{
	color: wheat;
}
#footer_icons span{
	margin-left: 30px;
	margin-right: 30px;
	align-items: center;
}
