@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@500&display=swap');
@font-face{
	src: url('../font/Romans Story.otf');
	font-family: Romans;
}
/*
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/
@font-face{
	src: url('../font/Romans Story.ttf');
	font-family: Romans Story;
}
@font-face{
	src: url('../font/BROLIMO-Black.otf');
	font-family: Brolimo;
}
/*-----------PALLET MÀU-----------*/
/*
MÀU NAV : #29331F
MÀU BUTTOB ON TOP: #495237
MÀU CONTAINER: #12150e
CHỮ MÀU: wheat
màu button :background-color: #886639;
*/
*{
	margin: 0;
	padding: 0;
	
}
html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}
/*-----------SCROLL-------------*/
::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
}
/*
::-webkit-scrollbar-button {
    background: red;
}
*/
::-webkit-scrollbar-track-piece {
    background: wheat;
}
::-webkit-scrollbar-thumb {
    background: rgba(79,25,0,0.60);
	border-radius: 50px;
}
h2{
	color: wheat;
	font-family: Brolimo;
	text-transform: full-width;
	padding-top: 100px;
	padding-bottom: 20px;
}
h5,h1{
	font-family: Brolimo;
}
h6{
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	padding-top: 20px;
	padding-bottom: 20px;
}
p{
	color: wheat;
	font-family: 'Roboto', sans-serif;
}
.text h4{
	font-family: Brolimo;
	font-size: 1.8em;
}
h4,a,h3,h1,h5{
	color: wheat;
}
h4{
	font-family: Romans Story;
	text-transform: capitalize;
}
/*------------BUTTON ON TOP----------*/
#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
	border: 1px solid wheat;
	background-color: #495237;
}
#toTopBtn:hover{
	background-color: #495237;
	color: wheat;
	border: none;
}
.js .cd-top--fade-out {
    opacity: .5
}
.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}
.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}
.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) wheat no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8);
	border: 1px solid wheat;
	outline: none;
	background-color: transparent;
	color: black;
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 50%;
}
/*------------NAVBAR----------*/
#navbar{
	border-bottom: wheat solid 1px ;
	z-index: 2;
}
.nav-link{
	font-family: Brolimo;
	text-transform: capitalize;
	color: wheat;
	font-size: 1.25em;
}
#navbar {
      position: fixed;
      top: 0;
      width: 100%;
      display: block;
      transition: top 0.3s;
    }
#navbar a {
	float: left;
	display: block;
}
.nav-link:visited{
	color: wheat !important;
	-webkit-color: wheat;
	-o-color: wheat;
	-ms-color: wheat;
	-moz-color: wheat;
}
.nav-link:hover{
	color: #886639 !important;
	-webkit-color: #886639;
	-o-color: #886639;
	-ms-color: #886639;
	-moz-color: #886639;
}
/*
.nav-active {
    background-color:#fff;
    box-shadow: 5px -1px 12px -5px grey;
}
*/
.nav-active{
	background-color: #29331F;
}
#about{
	padding-right: 60px;
}
#navbarDropdown{
	padding-left: 60px;
}
.d-inline-block{
	position: absolute;
    left: 49%;
    transform: translateX(-50%);
/*    optional offset from top*/
    top: 2%;
	background: wheat;
	padding: 5px;
	border-radius: 50%;
	}
.dropdown-menu {
	height: auto;
	margin-left: 45%!important;
	background-color: #29331F !important;
/*	border: none;*/
	border-bottom: wheat solid 1px !important;
}
.dropdown-item{
	margin: -2%;
	color: wheat;
	text-transform: capitalize;
	font-family: Brolimo;
	font-size: 1.25em;
}
.dropdown-item:hover{
	margin-left: 0.45%;
	background-color: #495237 !important;
	-webkit-background-color: #495237 !important;
	color: #886639 !important;
	transform: scale(1.1);
	transform: scale(1.15);
	-webkit-transform: scale(1.15);
	-webkit-transition: scale(1.15) 3s;
	-o-transition: scale(1.15) 3s;
	-moz-transition: scale(1.15) 3s;
	-ms-transition: scale(1.15) 3s;
	transition: scale(1.15) 3s;
}
.dropdown-item:visited{
	margin-left: 0.45%;
	color: wheat;
}
.dropdown-divider{
	width: 0;
}
/*-------------main----------------*/
.container img{
	width: 70%;
}
.col p{
	font-size: 1.025em !important;
}
.container p{
	padding-left: 0px;
	text-align: justify;
	font-size: 1.2em;
}
#aboutus{
	width: 100%;
	height: 1100vh;
	padding: 150px 0;
}
#aboutus{
	background: #12150e;
}
.tarot_text h5{
	padding-top: 20px;
}
/*-----------------footer---------------*/
footer{
	width: 101%;
	padding: 30px 0;
	background-color: #29331F;
}
#footer p, .fa-circle-thin, .fa-stack i{
	color: wheat;
}
#footer_icons span{
	margin-left: 30px;
	margin-right: 30px;
	align-items: center;
}
